@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:5%">
    <div class="text-center text-capitalize">
        <h1>Coffee Shop</h1>
    </div> 
</div>

<div class="jumbotron">
    <div class="text-center">
        Content
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-center" style="float:left">
        <h2>About</h2>
        <p>
            About blabla
        </p>
        @Html.ActionLink("About", "About", "Home",new { @class = "btn btn-default" })
    </div>
    <div class="col-md-6 text-center" style="float:right">
        <h2>Contact</h2>
        <p>
            Contact blabla
        </p>
        @Html.ActionLink("Contact", "Contact", "Home", new { @class = "btn btn-default" })
    </div>
</div>