@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="text-center text-white">
        <h1 class="display-4">Specialty coffee made by real baristas.</h1>
        <p class="lead">Our coffee meets the highest expectations</p>
        <hr class="my-4">
    </div>
  
</div>