@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <div class="text-center text-capitalize">
        <h2>Coffee Shop</h2>
    </div>
</div>

<div class="">
    <div>
        <ul style="font-size: 20px;">
            <li>Sourcing the finest fresh-roasted beans.</li>
            <li>Using only the highest quality espresso machine and related equipment such as grinders, water filtration systems, etc.</li>
            <li>Serving fresh pastries and snacks.</li>
            <li>All coffees prepared by a skilled barista, we think that is essential to the craft of coffee.</li>
            <li>We offer a mix of customer favorites (frappés, chai lattes, etc.) and your own unique creations.</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-center" style="float:left">
        <h2>About</h2>
        <p>
            About blabla
        </p>
        @Html.ActionLink("About", "About", "Home", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-6 text-center" style="float:right">
        <h2>Contact</h2>
        <p>
            Contact blabla
        </p>
        @Html.ActionLink("Contact", "Contact", "Home", new { @class = "btn btn-default" })
    </div>
</div>