.back-img {
    background-image: url(/Content/Images/Logo/back-cofee.jpg);
    min-height: 50px;
    min-width: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-coffee{
    margin-left:-110%;
    margin-top:5.8%;
}
.navbar-brand {
    align-self:center
}
.transparent-card.jumbotron {
    background-color: rgba(255, 255, 255, 0.85);
}
.title-image{
   
    margin: 0 auto;
    padding-right: 100px;
}

.title-image > span.nav-title {
    padding-top: 200px;
    margin-top: 40px;

}

.links-navbar.navbar-nav > li{
    font-size: 17px;
}

.nav-title{
    color: white;
    font-size: 25px;
    align-self:center
}

.inline-btn.btn {
    display: inline;
    margin: 0px 2.5px;
}

.container.align-btns{
    text-align: center;
}
.checkmark.checkmark-color {
    background-color: rgba(130, 99, 83, 0.5)
}
    .checkmark.checkmark-color:hover {
        background-color: rgba(130, 99, 83, 0.3)
    }
.hr > hr {
    margin-top: 20px;
    margin-bottom: 20px; 
    border: 0; 
    border-top: 1px solid rgb(161, 160, 160);
}

.img-field.hidden-img > img{
    width: 150px;
    max-height: 100px;
}